<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="style.css">
    </header>
    
    <body>
        
        <div id="main">
            <div class="sidebar" id="sidebarDiv" :style="{width: navWidth + 'px'}">
                
                <div id="searchAndClose">
                    <span style="cursor: pointer; float:right" id="sidebarCloseBtn" @click="closeNav">&times;</span>
                    <span id="sidebarSearch"><input v-model="search"></span>
                </div>

                <div id="sidebarColumn" style="display:none">
                    <a v-for="team in searchedTeams" :href="'?' + team[0]">{{team[0]}}</a>
                </div>
            </div>

            <div>
                <span id="sidebarNav" @click="openNav">&#9776;</span>
            </div>

            <div id="video">
    
            </div>
            <p id="time"></p>
            
    
    
            <input type="file" id="fileInput" @change="fileChange"/>
        </div>

        <script src="papaparse.js"></script>
        <script src="rbql.js"></script>
        <script type="module" src="index.js"></script>
    </body>
</html>